<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TrignometryTests">
  <test name="BasicTrignometry">
    <packages>
      <package name="BasicTrignometry"/>
    </packages>
  </test>
   <test name="InverseTrignometryRadian">
    <packages>
      <package name="InverseTrignometryRadian"/>
    </packages>
  </test>
   <test name="BasicMath">
    <packages>
      <package name="ScientificCalcFunctionalities"/>
    </packages>
  </test>
</suite> <!-- TrignometryTests -->
